<!DOCTYPE html>
<html>
<head>
    <title>OLVM Report</title>
</head>
<body>
    <h1>OLVM Environment Report</h1>
    <p>Number of KVM Hosts: {{ num_hosts }}</p>
    <p>Number of Storage Domains: {{ num_storage_domains }}</p>
    <p>Number of VMs: {{ num_vms }}</p>
</body>
</html>
