<!DOCTYPE html>
<html>
<head>
    <title>Healthcheck Report</title>
    <style>
        html {font-family: 'Verdana', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
        table { border-collapse: collapse; width: 100%; }
        th, td { border: 1px solid #ccc; padding: 8px; }
        th { background-color: #eee; }
        td {text-align: center;}
    </style>
</head>
<body>
    <h1>Healthcheck Report for {{ target_host }}</h1>
    <p>Report snapshot generated on: {{ ansible_date_time['date'] }} at {{ ansible_date_time['time'] }}</p>
    <p>Servers checked: {{ groups['all'] | length }}</p> 
       
    <table>
        <tr>
            <th>Host</th>
            <th>Uptime</th>
            <th>RPM Updates Available</th>
            <th>CPU Usage </th>
            <th>Average Load</th>
            <th>Used Nocache Memory</th>
            <th>Free Nocache Memory</th>
            <th>Used Real Memory Used</th>
            <th>Free Real Memory</th>
            <th>Total Available Memory</th>
        </tr>
        
        {% set uptime = custom_data['uptime'] | default('N/A') %}  
        {% set num_rpm_updates = custom_data['num_rpm_updates'] | default(-1) %}   
        {% set cpu_percent_usage = custom_data['cpu_percent_usage']| default(-1) %} 
        
        {% set load_avg1 = host_data["loadavg"]['1m'] | default(-1) %}
        {% set load_avg5 = host_data["loadavg"]['5m']  | default(-1) %}                    
        {% set load_avg15 = host_data["loadavg"]['15m'] | default(-1) %}      
        {% set nocache_used = host_data["memory_mb"]["nocache"]["used"] | default(-1) %}  
        {% set nocache_free = host_data["memory_mb"]["nocache"]["free"] | default(-1) %}
            
        {% set real_used = host_data["memory_mb"]["real"]["used"] | default(-1) %}
        {% set real_free = host_data["memory_mb"]["real"]["free"] | default(-1) %}        
        {% set total_mem = host_data["memtotal_mb"] | default(-1) %}
        {% set num_flagged_disks = custom_data["num_flagged_disks"] | default(-1) %}                 
        <tr>
            <td>{{ inventory_hostname }}</td>
            <td>{{ uptime | default('N/A') }}</td>
            <td>{{ num_rpm_updates | default('# N/A') }} RPMs</td>
            <td>{{ cpu_percent_usage | default('N/A')}}% </td>
            <td>
            {{ load_avg1 | default('N/A') }} (1 min) | 
            {{ load_avg5 | default('N/A') }} (5 min) |
            {{ load_avg15 | default('N/A') }} (15 min)
            </td>
            <td>{{ nocache_used }} MB ( {{ (( (nocache_used / total_mem) ) *100) | round (2) }}% )</td>
            <td>{{ nocache_free }} MB ( {{ (( (nocache_free / total_mem) ) *100) | round (2) }}% )</td>
            
            <td>{{ real_used }} MB ( {{ (( (real_used / total_mem) ) *100) | round (2) }}% )</td>
            <td>{{ real_free }} MB ( {{ (( (real_free / total_mem) ) *100) | round (2) }}% )</td>
            
            <td>{{ total_mem | default('N/A') }} MB</td>       
        </tr>
    </table>
    <p>Processes Ordered by CPU Usage </p>
    
    
    <table>
        <tr>
            <th>Process ID</th>
            <th>User</th>
            <th>CPU Usage </th>
            <th>Memory Usage</th>
            <th>Command</th>
        </tr>
        {% for proc in custom_data['process_list']  %}
                {% set pid = proc['pid'] | default('N/A') %}
                {% set user = proc['user'] | default('N/A') %}                 
                {% set cpu = proc['cpu'] | default('N/A') %}  
                {% set mem = proc['mem'] | default('N/A') %}
                {% set command = proc['command'] | default('N/A') %}
        <tr>
            <td>{{ pid }}</td>
            <td>{{ user }}</td>
            <td>{{ cpu }}%</td>
            <td>{{ mem }}%</td>
            <td>{{ command }}</td>
     
        </tr>
        {% endfor %}
    </table>
    <p>Mounted Devices</p>
    <table>
        <tr>
            <th>Mount Point</th>
            <th>Device</th>
            <th>Filesystem Type</th>
            <th>Usage</th>
            <th>Free GB</th>
            <th>Total GB</th>
            <th>Filesystem UUID</th>
         </tr>
        
        {% for mount_dev in host_data['mounts'] %}
            {% set mount = mount_dev['mount'] | default('N/A') %}
            {% set device = mount_dev['device'] | default('N/A') %}
            {% set fstype = mount_dev['fstype'] | default('N/A') %}
            {% set size_total = mount_dev['size_total'] | default(-1) %}
            {% set size_available = mount_dev['size_available'] | default(-1) %}
            {% set uuid = mount_dev['uuid'] | default('N/A') %}
        <tr>
            <td style="text-align: left;">
            {{ mount }}
            </td>
            <td>{{ device }}</td>
            <td>{{ fstype }}</td>
            <td >{{ ((size_total | float - size_available | float) / 1000000000 ) | round(2) }} GB ( {{(((size_total | float - size_available | float) / size_total | float)*100) | round(2) }}%)</td>
            <td>{{ ( size_available | float / 1000000000 ) | int}} GB</td>
            <td>{{ ( size_total | float / 1000000000 ) | int}} GB</td>
            <td>{{ uuid }} </td>
     
        </tr>
        {% endfor %}
   
    </table>
</body>
</html>
